{% extends "admin/change_form.html" %} {% load i18n admin_urls static admin_modify %}
{% block extrastyle %}
<link rel="stylesheet"
href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static "admin/css/base.css" %}">{# override bootstrap #}
{{ block.super }}
{% endblock %}
{% block extrahead %}
{{ block.super }}
<script type = "text/javascript">
    (function($){
        $( document ).ready(function() {
            //fix delte button (wrong height cause of bootstrap)
            $('a.deletelink').attr('style', 'height:35px;');
            $('div.form-row.field-search_query > div').append(
                '<button type="button" class="btn btn-primary btn-sm" id="search">Search on Youtube</button>'
            );
            $("#search").click(function(){
                var base_url = "{% url opts|admin_urlname:'find' %}";
                var params = {
                    channel_pk:$("#id_channel").val(),
                    search_query:$("#id_search_query").val(),
                    duration:$("#id_duration").val(),
                    event_type:$("#id_event_type").val(),
                };
                $("#video_list").load(base_url+"?"+$.param(params));
            });
        });
    }(django.jQuery));
</script>
{% endblock %}

{% block content %}
{{ block.super }}
<br>
<div class="container" id="video_list">
</div>
{% endblock %}
