{% load i18n gatherer static%}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Blog Home - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static "gatherer/vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="{% static "gatherer/css/blog-home.css" %}" rel="stylesheet">
  <!-- Bootstrap core JavaScript -->
  <script src="{% static "gatherer/vendor/jquery/jquery.min.js" %}"></script>
  <script src="{% static "gatherer/vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.1.0/css/flag-icon.min.css" rel="stylesheet">
  <script>
jQuery(document).ready(function($){
  $('#language').change(function(){
          $(this).parents("form").submit();
      });
});
  </script>
<style>
#language-select, #language-select > a {
   /*color: rgba(255,255,255,.5);*/ 
}
.language-link {
   font-weight: bold;
}
#current-lang {
    text-decoration: underline;
}
nav.navbar {
    background-color: #F8FFF3;
    border-bottom: 2px solid #FC98B8
}
.nav-item {
    font-size: 1.2em;
    font-family: sans-serif;
    font-weight: bold;
}
</style>
{%block "css" %}
{% endblock %}
{%block "js" %}
{% endblock %}
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light rounded fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/rest/videos/">
        <img src="{% static "gatherer/graphics/yoga-online_logo.png" %}"  height="30" alt="">
      </a><br>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Übersicht
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Videos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Channels</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Impressum</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="dropdown nav-item">
            {% get_current_language as CURRENT_LANG %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            {% get_language_info for CURRENT_LANG as curr_lang_info %}
              <a class="nav-link dropdown-toggle"
                 href="/i18n/setlang/?language={{CURRENT_LANG}}&next=/{{CURRENT_LANG}}/rest/videos/" 
                        id="lang-dropdown" data-toggle="dropdown" aria-haspopup="true"
                         aria-expanded="false">
                  {% if CURRENT_LANG == "en" %}
                  {% define "us" as flag_code %}
                  {% else %}
                  {% define CURRENT_LANG as flag_code %}
                  {% endif %}
                  <span class="flag-icon flag-icon-{{flag_code}}"> </span>
                  {{curr_lang_info.name_local}}</a>

              <div class="dropdown-menu"
                  aria-labelledby="lang-dropdown">
                  
                  {% for language in languages %}
                  {% if language.code != CURRENT_LANG %}

                  {% if language.code == "en" %}
                  {% define "us" as flag_code %}
                  {% else %}
                  {% define language.code as flag_code %}
                  {% endif %}
                  <a class="dropdown-item"
                     href="/i18n/setlang/?language={{language.code}}&next=/{{language.code}}/rest/videos/"><span
                     class="flag-icon flag-icon-{{flag_code}}"> </span>
                     {{language.name_local}}</a>
                  {% endif %}
                  {% endfor %}
              </div>
          </li>
        </ul>

      </div><!-- navbar collapse -->
    </div><!-- container -->
  </nav>
  <!-- Page Content -->
  <div class="container-fluid" id="main-container">
    <!--div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-8">
        
      </div>
    </div-->
    <div class="row">

      <!-- Sidebar Widgets Column -->
      <div class="col-md-2">
        <div class="sidebar-left">
            {% block "sidebar" %}
            <!-- Search Widget -->
            <div class="card my-4">
              <h5 class="card-header">Search</h5>
              <div class="card-body">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search for...">
                  <span class="input-group-append">
                    <button class="btn btn-secondary" type="button">Go!</button>
                  </span>
                </div>
              </div>
            </div>


            <!-- Side Widget -->
            <div class="card my-4">
              <h5 class="card-header">Side Widget</h5>
              <div class="card-body">
                You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
              </div>
            </div>

            {% endblock %}
        </div>
      </div>
      <!-- END: Sidebar Widgets Column -->
      <!-- Blog Entries Column -->
      <div class="video-col" id="main-content">
        

       
        {% block "content" %}

        {% endblock %}
        
      </div><!-- /. content col -->

      <div class="col-md-2">
        <!-- Categories Widget -->
        <div class="card my-4">
          <h5 class="card-header">Categories</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#">Web Design</a>
                  </li>
                  <li>
                    <a href="#">HTML</a>
                  </li>
                  <li>
                    <a href="#">Freebies</a>
                  </li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#">JavaScript</a>
                  </li>
                  <li>
                    <a href="#">CSS</a>
                  </li>
                  <li>
                    <a href="#">Tutorials</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
  </footer>



</body>

</html>
