{% extends "gatherer/base.html" %}
{% load i18n gatherer static%}

{% block "js" %}
<script>
    // @TODO: use tag json_script
    var order_by = "{{ order_by }}";
    var video_lang = "{{video_lang }}";
    var page_nr = {{ page_nr }};
    var page_title = "{% trans "Yoga Videos" %}";
    var tag_id = "tag-{{current_tag}}";
</script>
{{ data.previous|json_script:"prev_video_page" }}
{{ data.next|json_script:"next_video_page" }}
<script src="{% static 'gatherer/js/videos.js'%}"></script>
{% endblock %}
{% block "css" %}
<style>
.duration {
		position: absolute;
		right: 5px;
		bottom: 5px;
		width: max-content;
		height: max-content;
		color: white;
		background-color: rgba(0, 0, 0, 0.5);
		border-radius: 3px;
		line-height: 1.1;
		padding: 1px 2px;
		font-size: smaller;
		font-family: sans-serif;
		font-weight: bold;
}

.video-row {

	margin-bottom: 40px;
}
.video-col {

    width: 750px;
    padding-left: 50px;
}
.sidebar-left {
    position: sticky;
    width: 250px;
    margin-top: 100px;
    top: 10em;

    overflow-y: auto;
    padding-right: 60px;
    padding-left: 10px;
    margin-left: 30px;
    /*margin-right: 30px;*/
    border-left: 2px solid #FC98B8;
    padding-top: 8px;
    /*border-radius: 15px;
    background-color: #FFF3F7;
    border: 1px solid #FC98B8;*/
    /*z-index: 1000;
    transition: all 0.4s ease 0s;*/


}
#main-container{
    margin-top: 50px;
}
.center {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

#spinner, #spinner-top {
	display: none;
}
#load-previous {
	display: none;
}
.headline {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: -0.3rem;
}
.meta {
    font-size: 0.9rem;
    font-weight: 550;
}
.video-row {
    margin-bottom: 20px;
}
.video-img {
    /*padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;*/
    object-fit: scale-down;
    width: 246px;
    height: 138px;
    padding: 5px;
    /*background-color: rgba(247, 247, 247);*/
    background-color: #F8FFF3;
}


a:hover.video-link, a:active.video-link, a:link.video-link, a:visited.video-link {
    text-decoration: none;
    color: #212529;
}

.description {
    padding-top: 6px;
    line-height: 16px;
    font-size: 0.9rem;
}
.filter-option {
    margin-bottom: .8em;
}

.filter-option label{
    margin-bottom: 0em;
    font-weight: bold;
}
.filter-option .tag-label{
    font-weight: inherit;
}
.tag {
    display: block;
    margin-bottom: 8px;
}
/*#tags a {
    margin-left: 4px;
}*/
</style>

{% endblock %}

{% block "content" %}
<h2>{% trans "Videos" %} (<span id="result-count">{{data.count}}</span>)</h2>
	<div id="content-header">
		<a id="load-previous" href="">Load previous videos</a>
		<img id="spinner-top" class="center" src='{% static "gatherer/graphics/Spinner-1s-200px.svg" %}'/>
	</div>
	<div id="content-body"><!-- video list-->
		
{% for video in data.results %}
        <div class="row video-row">
            <div class="" style="width: 246px; padding-left: 15px;">
                <div style="position:relative;">
                    <img src="{{ video.image}}" class="video-img img-thumbnail"
                    style="">
                    <!-- object-fit: cover / fill-->
                        <span class="duration">{{video.duration}}</span>
                </div>
            </div>
            <div class="col-lg col-md-12 col-sm-12">
                    <h3 class="headline">
                        <a href="{{ video.link}}" target="_blank" title="{{video.title}}"
                            class="video-link">
                            {{video.title}}
                        </a>
                    </h3>
                    <span class="meta text-muted">
                        <span class="publisher">
                            {{video.publisher}}
                        </span>
                        •
                        <span class="published-at">
                            {{ video.published_at }}
                        </span>
                        •
                        <span class="type">
                            {{ video.type }}
                        </span>
                    </span>
                    <p class="description">
                        {{ video.description }}
                    </p>
            </div>
        </div>

        
{% endfor %}
	</div>
	<div id="content-footer">
		<img id="spinner" class="center" src='{% static "gatherer/graphics/Spinner-1s-200px.svg" %}'/>
	</div>
{% endblock %}
{% block "sidebar" %}
    <h4>{% trans "Filter" %}</h4>
        <div class="filter-option">
            <label for="video_lang">{% trans "Video Sprache" %}</label>
            <select name="video_lang" id="video_lang" class="custom-select custom-select-sm">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                <option value="all" {% if "all" == video_lang %} selected{% endif %}>{% trans "alle" %}</option>
                {% for language in languages %}
                    <option value="{{ language.code }}"{% if language.code == video_lang %} selected{% endif %}>
                        {{ language.name_local }} ({{ language.code }})
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="filter-option">
            <label for="filter">{% trans "sortieren nach" %}</label>
            <select class="custom-select custom-select-sm" id="filter">
                    {% for param, name in order_options.items %}
                    <option value="{{param}}"
                        {% if param == order_by %}selected{%endif%}>
                    {{ name }}
                    </option>
                    {% endfor %}
            </select>
        </div>
        <div class="filter-option">
            <label for="name">{% trans "nach Tags" %}</label>
            <div id="tags">
                <div class="pretty p-icon p-smooth tag">
                    <input class="form-check-input" type="checkbox" name="tags"
                                                                 id="tag-all" value="all" checked>
                    <div class="state">
                        <i class="icon mdi mdi-check"></i>
                        <label class="form-check-label tag-label" for="tag-all">
                        {% trans "Alle" %}
                        </label>
                    </div>
                </div>

                {% for tag in tags %}
                {% localize_tag_slug tag LANGUAGE_CODE as tag_slug %}
                {% localize_tag_name tag LANGUAGE_CODE as tag_name %}
                {% if tag_slug == current_tag %}
                {% define "checked" as is_checked %}
                {% else %}
                {% define "" as is_checked %}
                {% endif %}

                <div class="pretty p-icon p-smooth tag">
                    <input class="form-check-input" type="checkbox" name="tags"
                                                                 id="tag-{{tag_slug}}"
                                                                 value="{{tag_slug}}"
                                                                 {{is_checked}}>
                    <div class="state">
                        <i class="icon mdi mdi-check"></i>
                        <label class="form-check-label tag-label" for="tag-{{tag_slug}}">
                        {{ tag_name }}
                        </label>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
{% endblock %}
