<link rel="stylesheet"
href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
	integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
crossorigin="anonymous"></script>

<script>
	$( document ).ready(function() {
		$('#filter').change(function(){
			if($(this).val() != ""){
				console.log($(this).val());
				window.location="./?order_by="+$(this).val();

			}
		});
	});
</script>




<div class="container">
<h1> Online Yogastunden </h1>
	<div class="row">
			<div class="col-12">
				{% for tag in tags %}
				<a href="{% url "videos" %}{{tag.name}}">
						{% if tag.name == current_tag %}
				<span class="badge badge-warning">{{ tag.name }}</span>
				{% else %}
				<span class="badge badge-primary">{{ tag.name }}</span>
				{% endif %}
				</a>
				{% endfor %}
			</div>
	</div>
	<div class="row">
			<div class="col-md-auto">sortieren nach</div>
			<div class="col">
				<select class="custom-select custom-select-sm" id="filter">
						{% for param, name in filters.items %}
						<option value="{{param}}"
							{% if params == order_by %}selected{%endif%}>
						{{ name }}
						</option>
						{% endfor %}
				</select>

			</div>
			<div class="col"></div>
	</div>
	{{ object_list|length }} Video{{object_list|length|pluralize}} gefunden.
</div>
<br>
<div class="container">
{% for video in object_list %}
        <div class="row" id="{{ video.video_id }}">
            <div class="col-3">
                <img class="img-fluid img-thumbnail" src="{{ video.image}}" >
            </div>
            <div class="col-9">
                <div class="row">
                    <div class="video_headline col">
                        <h5><a href="{{ video.link}}" target="_blank">{{ video.title }}</a></h5>
                    </div>
                </div>
                <div class="row">
                    <div class="video_description col">
                        {{ video.description|truncatewords:75 }}
                        <br />
                        <br />
                    </div>
                </div>
                <div class="row">
                    <div class="video_meta col">
			    <small class="mute">{{ video.published_at }}</small>
                        {{ video.duration }}
                        {{ video.live_broadcast }}
                        <br />
                        <br />
                    </div>
                </div>
            </div>
        </div>
{% endfor %}
</div>
