<link rel="stylesheet"
href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
	integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
crossorigin="anonymous"></script>
<script>
	$( document ).ready(function() {
		$('#filter').change(function(){
			if($(this).val() != ""){
				console.log($(this).val());
				window.location="./?order_by="+$(this).val();

			}
		});
	});
</script>
<style>
.duration {
		position: absolute;
		right: 5px;
		bottom: 5px;
		width: max-content;
		height: max-content;
		color: white;
		background-color: rgba(0, 0, 0, 0.5);
		border-radius: 3px;
		line-height: 1.1;
		padding: 1px 2px;
		font-size: smaller;
		font-family: sans-serif;
		font-weight: bold;


};
</style>
<div class="container">
<h1> Online Yogastunden </h1>
	<div class="row">
			<div class="col-md-auto"> nach Tags</div>
			<div class="col-md-auto">
				<a href="{% url "videos" %}" 
				{% if current_tag == "" %}
						class="badge badge-warning">
				{% else %}
						class="badge badge-dark">
				{% endif %}
				Alle</a>
				{% for tag in tags %}
				<a href="{% url "videos" %}{{tag.name}}" 
				{% if tag.name == current_tag %}
						class="badge badge-warning">
				{% else %}
						class="badge badge-secondary">
				{% endif %}
				{{ tag.name }}
				</a>
				{% endfor %}
			</div>
	</div>
	<div class="row">
			<div class="col-md-auto">sortieren nach</div>
			<div class="col-md-auto">
				<select class="custom-select custom-select-sm" id="filter">
						{% for param, name in order_options.items %}
						<option value="{{param}}"
							{% if param == order_by %}selected{%endif%}>
						{{ name }}
						</option>
						{% endfor %}
				</select>

			</div>
			<div class="col"></div>
	</div>
	{{ object_list|length }} Video{{object_list|length|pluralize}} gefunden.
</div>
<br>
<div class="container">
{% for video in object_list %}
        <div class="row" id="{{ video.video_id }}">
            <div class="col-3">
					<div style="position:relative;"><img
						class="img-fluid img-thumbnail"
						src="{{ video.image}}"
						style="object-fit: scale-down; width: 255px; height: 147px;">
						<!-- object-fit: cover / fill-->
							<span class="duration">{{video.duration}}</span>
					</div>

            </div>
            <div class="col-9">
                <div class="row">
                    <div class="video_headline col">
                        <h5>
							<a href="{{ video.link}}" target="_blank">
								{{video.title|truncatewords:13}}
							</a>
						</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="video_description col">
                        {{ video.description|truncatewords:75 }}
                    </div>
                </div>
                <div class="row">
                    <div class="video_meta col">
			    <small class="mute">{{ video.published_at|date:"d.m.Y" }}</small>
						{% for tag in video.tags.all %}
						<a href="{% url "videos"%}{{tag.name}}"
								class="badge badge-light">
								{{tag.name}}
						</a>
						{% endfor %}
                        {{ video.live_broadcast }}
                        
                        {% if video.facebookvideo %}
                        <span class="badge badge-primary">facebook {% else %}
                        <span class="badge badge-danger">youtube {% endif %}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="video_tags col">
			    <small class="mute">
                        </small>
						<br />
						<br />
                    </div>
                </div>
            </div>
        </div>
{% endfor %}
</div>
