{% extends "gatherer/base.html" %}
{% load i18n gatherer static%}

{% block "js" %}
<script>
    // @TODO: use tag json_script
    var order_by = "{{ order_by }}";
    var video_lang = "{{video_lang }}";
    var page_nr = {{ page_nr }};
    var page_title = "{% trans "Yoga Videos" %}";
    var tag_id = "tag-{{current_tag}}";
</script>
{{ data.previous|json_script:"prev_video_page" }}
{{ data.next|json_script:"next_video_page" }}
<script src="{% static 'gatherer/js/videos.js'%}"></script>
{% endblock %}
{% block "css" %}
<style>
.duration {
		position: absolute;
		right: 5px;
		bottom: 5px;
		width: max-content;
		height: max-content;
		color: white;
		background-color: rgba(0, 0, 0, 0.5);
		border-radius: 3px;
		line-height: 1.1;
		padding: 1px 2px;
		font-size: smaller;
		font-family: sans-serif;
		font-weight: bold;
}

.video-row {

	margin-bottom: 40px;
}
.center {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

#spinner, #spinner-top {
	display: none;
}
#load-previous {
	display: none;
}
.headline {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: -0.3rem;
}
.meta {
    font-size: 0.9rem;
    font-weight: 550;
}
.video-row {
    margin-bottom: 20px;
}
.video-img {
    /*padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;*/
    object-fit: scale-down;
    width: 246px;
    height: 138px;
    padding: 5px;
}
.description {
    padding-top: 6px;
    line-height: 16px;
    font-size: 0.9rem;
}
/*#tags a {
    margin-left: 4px;
}*/
</style>

{% endblock %}

{% block "content" %}
	<div id="content-header">
        <p><span id="result-count">{{data.count}}</span> {% trans "Videos gefunden." %}</p>
		<a id="load-previous" href="">Load previous videos</a>
		<img id="spinner-top" class="center" src='{% static "gatherer/graphics/Spinner-1s-200px.svg" %}'/>
	</div>
	<div id="content-body"><!-- video list-->
		
{% for video in data.results %}
        <div class="row video-row">
            <div class="" style="width: 246px; padding-left: 15px;">
                <div style="position:relative;">
                    <img src="{{ video.image}}" class="video-img img-thumbnail"
                    style="">
                    <!-- object-fit: cover / fill-->
                        <span class="duration">{{video.duration}}</span>
                </div>
            </div>
            <div class="col-lg col-md-12 col-sm-12">
                    <h3 class="headline">
                        <a href="{{ video.link}}" target="_blank" title="{{video.title}}"
                            class="video-link">
                            {{video.title}}
                        </a>
                    </h3>
                    <span class="meta text-muted">
                        <span class="publisher">
                            {{video.publisher}}
                        </span>
                        •
                        <span class="published-at">
                            {{ video.published_at }}
                        </span>
                    </span>
                    <p class="description">
                        {{ video.description }}
                    </p>
            </div>
        </div>

        
{% endfor %}
	</div>
	<div id="content-footer">
		<img id="spinner" class="center" src='{% static "gatherer/graphics/Spinner-1s-200px.svg" %}'/>
	</div>
{% endblock %}
{% block "sidebar" %}
<p></p>
<!-- Search Widget -->
	<div class="card my-4">
		<h5 class="card-header">sortieren:</h5>
		<div class="card-body">
			<div class="input-group">
				<div class="row">
					<div class="col-md-auto">{% trans "sortieren nach" %}</div>
					<div class="col-md-auto">
						<select class="custom-select custom-select-sm" id="filter">
								{% for param, name in order_options.items %}
								<option value="{{param}}"
									{% if param == order_by %}selected{%endif%}>
								{{ name }}
								</option>
								{% endfor %}
						</select>

					</div>
				</div>
				<div class="row">
					<div class="col-md-auto">{% trans "Video Sprache" %}</div>
					<div class="col-md-auto">
						<!-- @TODO: form and view-->
						<select name="video_lang" id="video_lang" class="custom-select custom-select-sm">
							{% get_current_language as LANGUAGE_CODE %}
							{% get_available_languages as LANGUAGES %}
							{% get_language_info_list for LANGUAGES as languages %}
							<option value="all" {% if "all" == video_lang %} selected{% endif %}>{% trans "alle" %}</option>
							{% for language in languages %}
								<option value="{{ language.code }}"{% if language.code == video_lang %} selected{% endif %}>
									{{ language.name_local }} ({{ language.code }})
								</option>
							{% endfor %}
						</select>

					</div>
				</div>
			</div>
		</div>
	</div>
  <!-- Side Widget -->
  <div class="card my-4">
	<h5 class="card-header">{% trans "nach Tags" %}</h5>
	<div class="card-body" id="tags">
		<a href="{% url "rest" %}" id="tag-all"
		{% if current_tag == "all"%}
				class="badge badge-warning">
		{% else %}
				class="badge badge-secondary">
		{% endif %}
		{% trans "Alle" %}</a>
		{% for tag in tags %}
		{% localize_tag_slug tag LANGUAGE_CODE as tag_slug %}
		{% localize_tag_name tag LANGUAGE_CODE as tag_name %}
		<a href="{% url "rest_by_tag" tag_slug %}" name="{{tag_name}}" id="tag-{{tag_slug}}"
		{% if tag_slug == current_tag %}
				class="badge badge-warning">
		{% else %}
				class="badge badge-secondary">
		{% endif %}
		{{tag_name}}
		</a>
		{% endfor %}
	</div>
  </div>
{% endblock %}
